bilibili-bangumi {
  --bbc-text-base-color: var(--bbc-custom-text-base-color);
  --bbc-text-primary-color: var(--bbc-custom-text-primary-color);
  --bbc-primary-color: var(--bbc-custom-primary-color);
}

/* 覆盖 docsaurus 设置的 margin */
p {
  margin: 0;
}

img {
  max-width: none;
}

.dropdown > .navbar__link:after {
  display: none;
}

.navbar__link--active,
.navbar__link:hover,
.dropdown__link--active,
.dropdown__link--active:hover,
.menu__link--active,
.menu__link--active,
.menu__link--active:hover,
.table-of-contents__link--active {
  color: var(--custom-color-primary);
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--custom-color-primary);
}

.breadcrumbs__item a:hover {
  color: var(--custom-color-primary);
}

.navbar__brand:hover {
  color: var(--custom-color-secondary);
}

/* --------markdown heading start-------- */

.anchor a {
  color: var(--custom-color-secondary);
}

.markdown header h1 {
  color: var(--custom-color-primary);
  font-size: 25px;
  text-align: center;
}

.markdown h2[class~='anchor'] {
  font-size: 26px;
}

.markdown h2[class~='anchor']::before {
  content: '';
  display: inline-block;
  background: var(--custom-color-secondary);
  pointer-events: none;
  border-radius: 15px;
  width: 6px;
  vertical-align: middle;
  margin-right: 15px;
  height: 20px;
  transform: translateY(-2px);
}

.markdown h3[class~='anchor'] {
  font-size: 22px;
}

.markdown h3[class~='anchor']::before {
  content: '';
  display: inline-block;
  background: var(--custom-color-secondary);
  opacity: 1;
  pointer-events: none;
  border-radius: 15px;
  width: 6px;
  vertical-align: middle;
  margin-right: 15px;
  height: 16px;
  transform: translateY(-1px);
}

.markdown h4[class~='anchor']::before,
.markdown h5[class~='anchor']::before,
.markdown h6[class~='anchor']::before {
  content: '';
  display: inline-block;
  background: var(--custom-color-secondary);
  opacity: 1;
  pointer-events: none;
  border-radius: 15px;
  width: 6px;
  vertical-align: middle;
  margin-right: 15px;
  height: 14px;
  transform: translateY(-1px);
}

/* --------markdown heading end-------- */

.pagination-nav__link:hover {
  border-color: var(--custom-color-secondary);
}

.pagination-nav__link .pagination-nav__label {
  color: var(--custom-color-secondary);
}
